* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.glb binary
*.gltf text
*.bin binary
*.wav binary
*.mp3 binary
*.ogg binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
